@charset "utf-8";
/* CSS Document */

html {
	background-color: #CCC;
	font-family: Arial, Helvetica, sans-serif;
	margin: 25px;
	padding: 0;
}

a {
	color:#fff;
	text-decoration: none; 
}

a:hover {
	color: #F09;
}

.add {
	color:#FCF;
}

.delete {
	color:#F03;
}

.edit {
	color:#FCF;
}